*{
    border: none;
    padding: 0;
    margin: 0;
}

.mainpage{
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: calc(100% - 225px);
    background-color: #f8f8f8;
    min-height: 100vh;
    padding-bottom: 50px;
}