.a {
  text-align: left;

    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    /* border: 5px solid #4e4e48; */
    padding: 10px;
    width: 60%;
    
    }
    
    /* .modal-content{
      width: 166%; */
    /* padding: 87px 10px 1px 10px; */

    /* } */
      
    /* .form-control{
      width: 169%;
    } */
    /* .btn{
      margin-left: 33px;
    } */
    .showimg {
      /* width: 414px!important;
      height: 500px!important; */
      position: relative;
      z-index: 2;
      /* padding: 50px; */
      /* background-color: green; */
      transition: transform .2s; 
      /* Animation  */
       width: 200px;
      height: 200px;
      margin: 0 auto; 
    }
  
    .showimg:hover {

      transform: scale(2.8);  /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport)*/
    }
    .photo_zoomimg {
      border: none;
      margin: 0 auto;
  }
  #receipt_url {
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 400px;
}
/* .container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
} */

/* .col-md-4 {
  padding-top: 15px; 
} */
.col-md-8{
  padding-top: 15px; 
}
.errorMsg{
  font-size: 10px;
  color: rgb(228, 31, 5);
  position: relative;

}
textarea {
  width: inherit;
  overflow: auto;
  resize: vertical;
}

/* .modal-body{
  /* max-height: calc(100vh - 120px); */
  /* overflow-y: auto; */
/* } */ 
label{
  color:#f11541;
}

/* .modal-open .modal {
  overflow-x: hidden;
  padding: 100px 250px 0px 0px;
  overflow-y: auto;
}
.modal.show .modal-dialog {
  transform: none;
  padding: 40px -9px;
  padding-top: 66px;
} */
/* .form-control{
width:500px;
} */
/* .table{border:1px solid #ccc;border-collapse:collapse}td{border:none} */


@media print {
  /* body * {
    visibility: hidden;
  } */
  #acknowledgementModalPrint .modal-content * {
    visibility: visible;
    overflow: visible;
  }
  /* .main-page * {
    display: none;
  } */
  #acknowledgementModalPrint.modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 550px;
    visibility: visible;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
  #acknowledgementModalPrint .modal-dialog {
    visibility: visible !important;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
}

/* print model */
@media screen {
  #printSection {
      display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}
@media print {
  body * {
      visibility:hidden !important;
  }
  #addpetitionModal  *{
    visibility:hidden !important;
  }
  #reportId *{
    visibility:hidden !important;
  }
  
  .ag-root-wrapper *{
    visibility:hidden !important;
  }
  #print1 * {
      visibility:visible !important;
  }
.wordwrap{
  word-wrap: break-word;
}

/* delet modal */
.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

}

#addpetitionModal .modal-header .row{
  width: 100%;
}
#addpetitionModal .modal-content{
  width: 100% !important;
}

@media (max-width: 585px) { 
  #addpetitionModal .modal-content{
    width: 73% !important;
    height: 1600px;
  }
 }

#addvisitorModal .modal-content{
  width: 100% !important;

}
#editVisitorModal .modal-content{
  width: 100% !important;
}
@media (max-width: 585px) { 
  #editVisitorModal .modal-content{
    width: 80% !important;
    height:2050px
  }
  
 }
 @media (max-width: 585px) { 
  #addvisitorModal .modal-content{
    width: 100% !important;
    height:3007px
  }
  
 }
 #addLeaderModal .modal-content{
  width: 100% !important;

}
 @media (max-width: 585px) { 
  #addLeaderModal .modal-content{
    width: 100% !important;
    height:550px
  }
 }
 #addReasonModal .modal-content{
  width: 100% !important;

}
 @media (max-width: 585px) { 
  #addReasonModal .modal-content{
    width: 100% !important;
    height:400px
  }
 }
 #scheduleVisitorMeetModal .modal-content{
  width: 100% !important;

}
 @media (max-width: 585px) { 
  #scheduleVisitorMeetModal .modal-content{
    width: 100% !important;
    height:1250px
  }
 }
 @media (max-width: 585px) { 
  #viewVisitorModal .modal-content{
    width: 75% !important;
    height:1250px
  }
 }
 @media (max-width: 585px) { 
  #addmoreforvisitor .modal-content{
    /* width: 100% !important; */
    height:1800px
  }
 }
 @media (max-width: 585px) { 
  #addvolunteerModal .modal-content{
    width: 80% !important;
    height:1800px
  }
  /* issue management system  */
  /* @media (max-width: 585px) { 
    #addissueModal .modal-content{
      width: 73% !important;
      height: 1600px;
    }
   } */
   @media (max-width: 585px) { 
    #viewIssueModal .modal-content{
      /* width: 73% !important; */
      height: 1600px;
    }
   }
   @media (max-width: 585px) { 
    #editIssueModal .modal-content{
      /* width: 100% !important; */
      height: 1600px;
    }
   }
 }
.left{
  left: -100px;
}

.hide {
  display: none;
}
.error-field{
  color:red;
}

.redd {
  color: #e90000;
}

.card{
  padding: 10px;
  text-align: center;
  color: #e90000;
}