<div style="display: block;background-color: #ffffff;width:400px; height:400px  ;">
    <canvas baseChart width="400" height="400" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
        [plugins]="pieChartPlugins">
    </canvas>
</div>