<!-- <div style="display: block;background-color: #ffffff;width:400px; height:400px  ;">
  <canvas baseChart width="400px" height="400px" [data]="barChartData" [options]="barChartOptions"
    [plugins]="barChartPlugins" [type]="barChartType" (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas>
</div> -->
