<!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
  <nav  id="mySidenav"  class="side-navbar">
    <div  class="side-navbar-wrapper">
      <!-- Sidebar Header    -->
      <div class="sidenav-header d-flex align-items-center justify-content-center">
        <!-- User Info-->

        <div class="sidenav-header-inner text-center">
          <img src="/assets/images/logo.png" class="img-fluid">
        </div>

        <!-- Small Brand information, appears on minimized sidebar-->
        <!-- <div class="sidenav-header-logo"><a href="industry-type.html" class="brand-small text-center"> <strong class="text-white">B</strong></a></div> -->
      </div>
      <!-- Sidebar Navigation Menus  class="col-md-12 col-sm-12 col-lg-12 col-xs-12"-->
      <div  class="main-menu">


        <ul id="side-main-menu" class="side-menu list-unstyled" >
          <div *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'UE'&& isRole!== 'ME'&& isRole!== 'CS'&& isRole!== 'OS'&& isRole!== 'ED')"  >

           <!-- <li   >Add Visitor {{roleId}}  </li>   -->
          <!--  -->

          <!-- <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA')"><a routerLink="/phase_two_membership" routerLinkActive="active">Kriya Members Phase-2</a></li> -->
          <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'IS') || (isRole   == 'AD')" ><a routerLink="/kriya_members_dashboard" routerLinkActive="active">Kriya Members</a></li>
          <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'IS')"><a routerLink="/phase_three_membership" routerLinkActive="active">Kriya Membership Phase-3</a></li>
          <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'KI'&& isRole!== 'IS')"><a routerLink="/volunteers" routerLinkActive="active">Kriya Volunteers</a></li>
          <li  *ngIf="( isRole === 'AD')"><a routerLink="/kv_reference" routerLinkActive="active">Kriya Volunteer References</a></li>
          <li *ngIf="( isRole === 'AD' || isRole === 'AC')"><a routerLink="/bulk_payment" routerLinkActive="active">Bulk Payment</a></li>
          <!-- <li><a routerLink="/kriya_members_dashboard" routerLinkActive="active">kriya_members_dashboard</a></li> -->
          <!-- <li *ngIf="isRole!== 'GS'" ><a routerLink="/kmd" routerLinkActive="active">Kriya Members dashb</a></li> -->


          <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'IS')"><a routerLink="/renewal_mebership" routerLinkActive="active">Renewal Membership</a></li>

          <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'IS')"><a routerLink="/summary_reports" routerLinkActive="active">Summary Report</a></li>
          <li *ngIf="isRole== 'AC'" ><a routerLink="/map_upi_transactions" routerLinkActive="active">Map Upi Transactions</a></li>





            <li *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'IS'&& isRole!== 'CS'&& isRole!== 'OS')">
                <a class=" dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                TG Kriya Membership
                </a>

                <div *ngIf="(isRole!== 'GS'&& isRole!== 'VS'&& isRole!== 'PA')" class="dropdown-menu">
                  <li><a routerLink="/Tg-KriyaMembers-Dashboard" routerLinkActive="active">TG Kriya Members Dashboard </a></li>
                  <!-- <li><a routerLink="/Tg-Kriyamembership-Phase-two" routerLinkActive="active">TG Kriya Members Phase-2 </a></li> -->
                  <li><a routerLink="/Tg_Kriyamembership_Phase_three" routerLinkActive="active">TG Kriya Members Phase-3 </a></li>
                  <li><a routerLink="/Tg-KriyaRenewal-Membership" routerLinkActive="active">TG Kriya Renewal Membership </a></li>
                  <li><a routerLink="/Tg-Kriya-Volunteers" routerLinkActive="active">TG Kriya Volunteers </a></li>
                  <li><a routerLink="/Tg-Summary-Reports" routerLinkActive="active">TG Kriya Summary Report </a></li>

                </div>
          </li>
          <!-- <li><a routerLink="/charts" routerLinkActive="active">charts</a></li> -->
          <!-- <li *ngIf="isRole!== 'GS'"><a routerLink="/kriya_insurance_form" routerLinkActive="active">kriya insurance form</a></li> -->
          <li *ngIf="(isRole === 'AD')"><a routerLink="/kriya_voters_mapping" routerLinkActive="active">Kriya Voters </a></li>
          <li *ngIf="(isRole === 'AD')"><a routerLink="/voters_data" routerLinkActive="active">Voters Data </a></li>
          <li *ngIf="isRole === 'KM' || isRole === 'AD'"><a routerLink="/qrcode" routerLinkActive="active">Qrcode</a></li>
          <!-- <li *ngIf="(isRole === 'AD')"><a routerLink="/schedule_visitor_meet" routerLinkActive="active">Schedule Meet</a></li> -->

            <!-- <li *ngIf="isRole!== 'GS'"><a   data-toggle="modal"
              data-target="#scheduleVisitorMeetModal" routerLink="/tabular-report" routerLinkActive="active">Schedule Meeting</a></li> -->
              <li *ngIf="(isRole === 'AD')"><a routerLink="/jsp_employees" routerLinkActive="active">Jsp Employees</a></li>
            <li *ngIf="(isRole === 'AD')"><a routerLink="/yuva_shakthi" routerLinkActive="active">Yuva Shakthi</a></li>
            </div>

            <li *ngIf="(isRole === 'VS' || isRole === 'AD' || isRole === 'PA')"><a   data-toggle="modal"
              data-target="#addvisitorModal"routerLink="/tabular-report" routerLinkActive="active">Add Visitor</a></li>
              <li *ngIf="(isRole === 'VS' || isRole === 'AD' || isRole === 'PA')"><a routerLink="/visitor_management_system" routerLinkActive="active">Visitors Management System </a></li>
              <li *ngIf="(isRole==='GS' || isRole==='AD'|| isRole==='KM')"><a routerLink="/petition_management_system" routerLinkActive="active">Petition Management System </a></li>
              <li *ngIf="(isRole==='KI' || isRole==='AD')"><a routerLink="/kriya_insurance_dashboard" routerLinkActive="active">Kriya Insurance Dashboard</a></li>
              <li *ngIf="(isRole==='IS' || isRole==='AD')"><a routerLink="/issue_tracking_system" routerLinkActive="active">Issue Traking System</a></li>
          <!-- <li *ngIf="(isRole!== 'GS' && isRole!== 'VS'&& isRole!== 'PA'&& isRole!== 'KM')"><a routerLink="/kriya_insurance_dashboard" routerLinkActive="active">Kriya Insurance Dashboard</a></li> -->
          <li *ngIf="(isRole === 'AC')"><a routerLink="/donations_dashboard" routerLinkActive="active">Donations</a></li>
          <li *ngIf="(isRole === 'AC')"><a routerLink="/nri_donations" routerLinkActive="active">NRI Donations</a></li>
          <li *ngIf="(isRole === 'AD')"><a routerLink="/export_report_logs" routerLinkActive="active">Exported reports</a></li>
          <li *ngIf="(isRole === 'CS')"><a routerLink="/conflict_management_system" routerLinkActive="active">Conflict Management System</a></li>
          <!-- <li *ngIf="(isRole === 'AD')"><a routerLink="/survey_creater" routerLinkActive="active">Survey Creater</a></li> -->
          <!-- <li *ngIf="(isRole === 'AD')"><a routerLink="/dynamic_form" routerLinkActive="active">Dynamic Form Creater</a></li> -->
          <li *ngIf="(isRole === 'AD')" ><a routerLink="/km_last_two_years" routerLinkActive="active">KM Last 2 years</a></li>
          <li *ngIf="(isRole === 'AD')"><a routerLink="/km_last_three_years" routerLinkActive="active">KM Last 3 years</a></li>
          <li *ngIf="(isRole === 'AD')"><a routerLink="/nri_membership" routerLinkActive="active">NRI Membership</a></li>
          <li *ngIf="(isRole === 'OS'|| isRole==='AD')"><a routerLink="/jsp_org_data" routerLinkActive="active">State Committee</a></li>
          <li *ngIf="(isRole === 'AC'|| isRole==='PA'|| isRole==='AD' || isRole==='ED')"><a routerLink="/emandate_donations" routerLinkActive="active">Emandate Donations</a></li>
          <li *ngIf="(isRole === 'AD')"><a routerLink="/general_membership" routerLinkActive="active">General Membership</a></li>
          <!-- <li *ngIf="(isRole === 'OS'|| isRole==='AD')"><a routerLink="/dist_org" routerLinkActive="active">District Committee</a></li> -->
            </ul>
      </div>

    </div>
  </nav>

  <!-- <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script> -->
