<div style="display: block;background-color: #f8f8f8;width:400px; height:400px  ;">

    <canvas baseChart width="400" height="400" [data]="lineChartData" [options]="lineChartOptions"
        [type]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

</div>