<div class="container">
    
    <div class="row">
    <div class="col-md-4">
      <div style="background-color:#2d6096; color: white;" class="card-counter ">
        <!-- <i class="fa fa-code-fork"></i> -->
             <h1>Over All Count</h1>
        <div class="row">
            <div class="col-md-8">
    
              <p class="details">Payment Pending</p>
    
            </div>
            <div class="col-md-4 text-right">
               {{overAllRecords?.payment_pending}}
             
            </div>
            <div class="col-md-8">
              <p class="details">Verification Pending</p>
    
            </div>
            <div class="col-md-4 text-right">
                {{overAllRecords?.payment_verification_pending}}
    
    
            </div>
           
            <div class="col-md-8">
                <p class="details">Verification Complete</p>
      
              </div>
              <div class="col-md-4 text-right">
                {{overAllRecords?.verfication_completed}}
      
      
              </div>
              <div class="col-md-8">
                <p class="details">Total</p>
      
              </div>
              <div class="col-md-4 text-right">
                  {{overAllRecords?.total}}
      
      
              </div>
    
    
          </div>
        <!-- <i class="fa fa-code-fork"></i>
        <span class="count-numbers">{{overAllRecords.payment_pending}}</span>
        <span class="count-name">{{overAllRecords.payment_verification_pending}}</span>
        <span class="count-name">{{overAllRecords.total}}</span>
        <span class="count-name">{{overAllRecords.verfication_completed}}</span> -->
      </div>
    </div>

    <div class="col-md-4">
      <div class="card-counter danger">
        <!-- <i class="fa fa-ticket"></i> -->
<h1>Phase-3 Count</h1>

        <div class="row">
            
            <div class="col-md-8">
              <p class="details">Verification Pending</p>
    
            </div>
            <div class="col-md-4 text-right">
                {{phaseTwoRecords?.payment_verification_pending}}
    
    
            </div>
            
            <div class="col-md-8">
                <p class="details">Verification Complete</p>
      
              </div>
              <div class="col-md-4 text-right">
                {{phaseTwoRecords?.verfication_completed}}
      
      
              </div>
              <div class="col-md-8">
                <p class="details">Total</p>
      
              </div>
              <div class="col-md-4 text-right">
                  {{phasethreetotal}}
      
      
              </div>
              <!-- <div class="col-md-8">
                <p class="details">Total</p>
      
              </div>
              <div class="col-md-4 text-right">
                  {{phaseTwoRecords?.total}}
      
      
              </div> -->
              <div class="col-md-8">
    
                <p class="details">Payment Pending</p>
      
              </div>
              <div class="col-md-4 text-right">
                  {{phaseTwoRecords?.payment_pending}}
              </div>
    
    
          </div>
      </div>
    </div>

    <!-- <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">6875</span>
        <span class="count-name">Data</span>
      </div>
    </div> -->

    <div class="col-md-4">
      <div class="card-counter success">
        <!-- <i class="fa fa-users"></i> -->
     <h1>Renewal Count</h1>

        <div class="row">
           
            <div class="col-md-8">
              <p class="details">Verification Pending</p>
    
            </div>
            <div class="col-md-4 text-right">
                {{renewalRecords.payment_verification_pending}}
    
    
            </div>
           
            <div class="col-md-8">
                <p class="details">Verification Complete</p>
      
              </div>
              <div class="col-md-4 text-right">
                {{renewalRecords?.verfication_completed}}
      
      
              </div>
              <div class="col-md-8">
                <p class="details">Total</p>
      
              </div>
              <div class="col-md-4 text-right">
                  {{renewalRecords.total}}
                </div>
            
              <div style="color: #2e1fa9;" class="col-md-8">
             <b> <p class="details"> Grand Total</p></b>  
      
              </div>
              <div style="color: #2e1fa9;" class="col-md-4 text-right">
               <b> {{grandTotalRecords}}</b>  
      
      
            </div>
    
    
          </div>
      </div>
    </div>
    
  </div>
</div>
<app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasActions]="true" ></app-tabularreport>