.card-counter{
  
    box-shadow: 2px 2px 10px #1a1919;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 36px;
    transition: .3s linear all;
    font-size: 18px;
    min-height: 274px;
    max-width: 315px;
  }
  .card-counter h1{
    font-size: 24px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
    /* height: 328px; */
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }