<!-- <app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasEmployeeActions]="true" ></app-tabularreport> -->
<!-- <div class="card-counter card " style="background-color: #eb981b;" >
    <div class="card-body text-center">
     <h5 class="header">Donations Count</h5>
    <hr>
      <p class="details white">today donations = <b> {{ todayDonation}}</b></p>
     <p class="details white">total donations = <b> {{ totalDonation}}</b></p>

    </div>
  </div> -->
<app-tabularreport [reportId]="reportId" [reportName]="reportName"   ></app-tabularreport>
