

<p>survey-creator worxcbxfb ks!</p>
<app-json-form [jsonFormData]="formData"></app-json-form>
 <div class="container">
        <h1>JANASENA PARTY</h1>
        <p>€ 1,000 Split with friends</p>
        <p>Completed Feb 12, 2023 8:39 AM</p>
        <div class="transaction-details">
            <p><span>From:</span> KOPPULA GANGA BABU (Axis Bank)</p>
            <p><span>UPI transaction ID:</span> 304341368616</p>
            <p><span>Google transaction ID:</span> CICAgJCtkvbnYA</p>
            <p><span>Powered by:</span> UPI G Pay</p>
        </div>
    </div>
<div id="surveyCreator">
    <survey-creator [model]="surveyCreatorModel"></survey-creator>
    <!-- <survey-creator [model]="model"></survey-creator> -->
    <!-- <survey [model]="model"></survey> -->
    <!-- <survey [model]="surveyModel"></survey> -->
  </div>
