#surveyCreator {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.transaction-details {
    margin-top: 20px;
}

.transaction-details p {
    margin: 0;
}

.transaction-details p span {
    font-weight: bold;
}