<div class="page login-page">
  <div class="container">
    <div class="form-outer text d-flex align-items-center">
      <div class="form-inner">
        <div class="text-center">
          <img src="/assets/images/logo.png" class="img-fluid">
        
        </div>
        <form [formGroup]="loginform" class="text-left"  (ngSubmit)="onSubmit()">
          <div class="form-group"> 
            <label for="login-username" class="">Email</label>
            <input type="email" name="username" formControlName="username" class="form-control"
              >
             
            <!-- <span class="errorMsg" *ngIf="nameError">Please Enter Name</span> -->
          </div>
         
<!-- //In HTML -->
<!-- <div>
<input [type] = "passType" placeholder="password">
</div>
<input type = "checkbox" (click)="changePasswordType()">Show Password -->

<!-- <input [type]="show_button ? 'text' : 'password'">
<i [class]="show_eye ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword()"> // Modify style as you need

 // variable
  show_button: Boolean = false;
  show_eye: Boolean = false;

//Function
showPassword() {
    this.show_button = !this.show_button;
    this.show_eye = !this.show_eye;
  } -->
          <div class="form-group">
            <label for="login-password" class="" >Password</label>
           
              <input   [type]="show_button ? 'text' : 'password'" name="password" class="form-control" formControlName="password">
              <span [class]="show_eye ? 'fa fa-eye-slash' : 'fa fa-eye'" (click)="showPassword()"></span>
           
            
         
            <!-- <span class="errorMsg" *ngIf="passError">Please Enter password</span> -->
          </div>
          <div class="form-group text-center mt-3">
            <!-- <a id="login" routerLink="/industry" class="btn btn-primary" (click)="isValidlogin()">Login</a> -->
            <button [disabled]='submited' type="submit"  class="btn btn-orange" id="login" (click)="isValidlogin()">Login</button>
            <!-- This should be submit button but I replaced it with <a> for demo purposes-->
          </div>
        </form>
        <!-- <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required
              #username="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
              Username is required!
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required
              minlength="6" #password="ngModel" />
            <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <button class="save_add btn-block" id="login">
              Login
            </button>
          </div>
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
              Login failed: {{ errorMessage }}
            </div>
          </div>
        </form>  -->
        <!-- <div class="text-center">
          <a routerLink="/reset" class="forgot-pass">Forgot Password?</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
