/* buy a business */
.ngx-slider-span .ngx-slider-bubble .ngx-slider-combined{
    display: none !important;  
    visibility: visible !important; 
}

.k-notification-group{
    padding: 3rem !important;
}
/* .b {
    white-space: nowrap; 
    width: 170px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
  } */
  

  .my_image{
      width: 100%;
      height: 170px;
      object-fit: cover;
  }

  .row{
      max-width: 100% !important;
  }
  .business-imgg .business-imgg_inner{
      height: 180px;
  }
  .c {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 63px;
    margin: 0 auto 20px auto; 
  
    /* font-size: 14px; */
    line-height: 21px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;  */
    /* width: 170px;  */
    /* height: 70px; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* border: 1px solid #000000; */
  }
  .b {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    margin: 0 auto 20px auto; 
  
    /* font-size: 14px; */
    line-height: 21px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap;  */
    /* width: 170px;  */
    /* height: 70px; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* border: 1px solid #000000; */
  }
  .investor_box_img{
    max-width: 100% !important;
    height: auto !important;
    max-height: 114px !important;
    width: 100% !important;
    min-height: 114px !important;
  }
  .location_new{
    position: relative;
    padding-left: 20px;
  
  }
  .location_new img{
    width: auto !important;
    height: auto !important;
    position: absolute !important;
    top: 0;
    left: 0;
    object-fit: none !important;
  }
  .img-fluid {
    max-width: 100% !important;
    height: 137px !important;
  }

  busines-sale-list{
   box-shadow: darkgrey;
  }