#addpetitionModal .modal-header .row{
    width: 100%;
  }
  #addpetitionModal .modal-content{
    width: 100% !important;
  }
  
  @media (max-width: 767px) { 
    #addpetitionModal .modal-content{
      width: 73% !important;
    }
   }