<app-tabularreport   [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasVisitorActions]="true" ></app-tabularreport>
<!-- <h1>Visitors page</h1> *ngIf="(isRole!== 'VS')" -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add Visitor</button> -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">

        <div class="row">
          <div class="col-md-6">
            <img
          style="max-width: 30%"
          src="/assets/images/logo.png"
          class="img-fluid"
        />
   
        <h1
          class="modal-title"
          id="exampleModalLabel"
          style="color: #e90000; display: inline-block; padding-left: 8px;font-size: 31px;line-height: 30px;"
        >
          Janasena
        </h1>
          </div>
          <div class="col-md-6">
            <h1
            class="modal-title"
            id="exampleModalLabel"
            style="padding-left: 30px;font-size: 30px;line-height: 53px;"
          >
          Visitors Formm
          </h1>
          </div>
        </div>
        

        <!-- </div> -->
      
        <button
          type="button"
          class="close"
          #closebutton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <!-- //Modal Body -->
      <div class="modal-body">
     
        <form
          role="form"
          name="grievance_form"
          method="post"
          enctype="multipart/form-data" novalidate
        >
          <div class="container">
           

            <div class="row">
              <div class="col-md-6">
                <div
                style="max-width:100% ;"
                  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12"
                >
                  <label>Visitor Name:</label
                  >
                  <input
                    formControlName="fullname"
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter Visitor's Name"
                    class="form-control"
                    required
               
                  />
                   
                </div>
              </div>
              <div class="col-md-6">
                <div
                style="max-width:100% ;"
                  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12"
                >
                  <label>Visitor Phone Number:</label
                  >
                  <input
                    formControlName="mobile"
                    type="number"
                    class="form-control"
                    id="mobile"
                    name="mobile"
                    placeholder="Visitor Phone Number"
                    required
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div  style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>Address</label
                  >
                  <textarea
                    formControlName="address"
                    rows="2"
                    cols="50"
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Address"
                    required
                   
                  ></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row" style="padding-left: 15px;max-width: 105%;">
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Gender:
                  </label>
                  <select
                    formControlName="Gender"
                    class="form-control"
                    id="Category"
                    name="Category"
                  >
                    <option selected value="">Select Gender</option>
                    <option id="male">Male</option>
                    <option id="female">Female</option>
                  </select>
                </div>
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Age:
                  </label>
                  <input
                  formControlName="mobile"
                  type="number"
                  class="form-control"
                  id="mobile"
                  name="mobile"
                  placeholder="Visitor Age"
                  required
                  class="form-control"
                />
                  <!-- <select
                    formControlName="Gender"
                    class="form-control"
                    id="Category"
                    name="Category"
                  >
                    <option selected value="">Select Gender</option>
                    <option id="male">Male</option>
                    <option id="female">Female</option>
                  </select> -->
                </div>
              </div>
            </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Place Of Visiting:
                  </label>
                  <select
                    formControlName="Place Of Visiting"
                    class="form-control"
                  
                  >
                    <option selected value="">Select Place Of Visiting</option>
                    <option id="Central_Office">Central Office (Hyderabad)</option>
                    <option id="Mangalagir_Office">Mangalagiri Office</option>
                    
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Whom To Meet:
                  </label>
                  <select
                    formControlName="Place Of Visiting"
                    class="form-control"
                  
                  >
                    <option selected value="">Whome To Meet</option>
                    <option id="Central_Office">President </option>
                    <option id="Mangalagir_Office">PAC Chairman</option>
                    <option id="Mangalagir_Office">PAC Members</option>
                    
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Purpose Of Meeting:
                  </label>
                  <select
                    formControlName="Place Of Visiting"
                    class="form-control"
                  
                  >
                    <option selected value="">Purpose Of Meeting</option>
                    <option id="Personnel Resons">Personnel Reasons</option>
                    <option id="Party Resons">Party Reasons</option>
                    
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label >Reason:
                  </label>
                  <select
                    formControlName="Place Of Visiting"
                    class="form-control"
                  
                  >
                  <!-- personnel -->
                    <option selected value="">Reason</option>
                    <option id="Photo">Photo </option>
                    <option id="Photo">Invitation</option>
                    <option id="Mangalagir_Office">Financial Aid</option>
                    <option id="Mangalagir_Office">Unions & Associations</option>
                    <option id="Mangalagir_Office">Spcial Groups</option>
                    <!-- party reasons  -->
                    <option id="Mangalagir_Office">Joinings </option>
                    <option id="Mangalagir_Office">Polotical Issue </option>
                    <option id="Mangalagir_Office">Donations</option>
                    <option id="Mangalagir_Office">Party Meetings</option>
                    <option id="Mangalagir_Office">Media Groups</option>

                  </select>
                </div>
              </div>
            </div>
            

            <!-- <div style="border: 1px solid rgb(107, 103, 103)">
              <br />
              <h4 >Visitor Address</h4>
              <div class="row">
                <div class="col-md-6">
                  <div   style="max-width:100% ;" class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label for="voter_id">District:</label>
                    <select
                      formControlName="district_id"
                      class="form-control"
                      id="district"
                      name="district"
                      required
                    >
                      <option selected value="">Select District</option>
                      <option
                      class="form-control"
                        *ngFor="let dist of districts"
                        value="{{dist.id}}"
                      >
                    {{dist.district_name}} 
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                
                  <div style="max-width:100% ;"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label for="voter_id">Constituency:</label>
                    <select
                      formControlName="constituency_id"
                      class="form-control"
                      id="assembly"
                      name="assembly"
                      required
                    >
                      <option selected value="">Select Constituency</option>
                      <option
                      class="form-control"
                        *ngFor="let cons of constituents"
                        value="{{cons.constituency_id}}"
                      >
                        {{cons.constituency_name}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label for="Mandal">Mandal:</label>
                    <select
                    class="form-control"
                      formControlName="mandal"
                      class="form-control"
                      id="assembly"
                      name="assembly"
                      required
                    >
                      <option selected value="">Select Mandal</option>
                      <option
                        *ngFor="let modal of modals"
                        value="{{modal.mandal_id}}"
                      >
                        {{modal.mandal_name}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label for="name">Village/Ward:</label>
                    <input
                    class="form-control"
                      formControlName="village"
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Village/Ward"
                    />
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row">
              <div class="col-md-6">
                <div style="max-width: 100%;" class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label for="name">Visitor Notes:</label>
                  <textarea
                 
                    rows="2"
                    cols="50"
                    formControlName="remarks"
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    maxlength="500"
                  ></textarea>
                </div>
              </div>
             
          </div>
       
          </div>

          <div
          style="text-align: center;
          height: 81px;
          padding-top: 22px;"
          >
            <button type="submit"  class="btn btn-success" >Submit</button>
          </div>
        </form>
       
      </div>
    </div>
  </div>
</div>  
<!-- page -->
<!-- <div  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
  
          <div class="row">
            <div class="col-md-6">
              <img
            style="max-width: 8%"
            src="/assets/images/logo.png"
            class="img-fluid"
          />
  
          <h1
            class="modal-title"
            style="color: #e90000; display: inline-block; padding-left: 0px;font-size: 30px;line-height: 30px;"
          >
            Janasena
          </h1>
            </div>
            <div class="col-md-6">
              <h1
              class="modal-title"
              style="padding-left: 30px;font-size: 30px;line-height: 30px;"
            >
              Public Grievance Form
            </h1>
            </div>
          </div>
          
  
          <button
            type="button"
            class="close"
            #closebutton
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
 
  
  //Modal Body 
        <div class="modal-body">
       
          <form
            role="form"
            name="grievance_form"
            method="post"
            enctype="multipart/form-data" novalidate
          >
            <div class="container">
              <div class="row">
          
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div
                  style="max-width:100% ;"
                    class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12"
                  >
                    <label>Visitor Name:</label
                    >
                    <input
                      formControlName="fullname"
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Enter Visitor's Name"
                      class="form-control"
                      required
                 
                    />
                     
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                  style="max-width:100% ;"
                    class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12"
                  >
                    <label>Visitor Phone Number:</label
                    >
                    <input
                      formControlName="mobile"
                      type="number"
                      class="form-control"
                      id="mobile"
                      name="mobile"
                      placeholder="Visitor Phone Number"
                      required
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div  style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Issue Location:</label
                    >
                    <input
                      formControlName="address"
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Issue Location"
                      required
                      maxlength="500"
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label >Department:
                    </label>
                    <select
                      formControlName="department"
                      class="form-control"
                      id="Category"
                      name="Category"
                    >
                     <option selected value="">Select Department</option>
                      <option *ngFor="let depart of departMents">
                        {{depart.name}}
                      </option> -->
                    <!-- </select>
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6">
                  <div style="max-width: 100%"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Petition Subject:</label
                    >
                    <textarea
                      rows="2"
                      cols="50"
                      formControlName="title"
                      class="form-control"
                
                      type="text"
                      class="form-control"
                      required
                      id="name"
                      name="name"
                      placeholder="Enter Petition Title"
                      maxlength="500"
                    ></textarea>
                  </div>
                </div>
              </div>
  
              <div style="border: 1px solid rgb(107, 103, 103)">
                <br />
                <h4 >Visitor Address</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div   style="max-width:100% ;" class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label for="voter_id">District:</label>
                      <select
                        formControlName="district_id"
                        class="form-control"
                        id="district"
                        name="district"
                        required
                      >
                        <option selected value="">Select District</option> -->
                        <!-- <option
                        class="form-control"
                          *ngFor="let dist of districts"
                          value="{{dist.id}}"
                        >
                      {{dist.district_name}} 
                        </option>-->
                      <!-- </select>
                    </div>
                  </div>
                  <div class="col">
                  
                    <div style="max-width:100% ;"   class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label for="voter_id">Constituency:</label>
                      <select
                        formControlName="constituency_id"
                        class="form-control"
                        id="assembly"
                        name="assembly"
                        required
                      >
                        <option selected value="">Select Constituency</option> -->
                        <!-- <option
                        class="form-control"
                          *ngFor="let cons of constituents"
                          value="{{cons.constituency_id}}"
                        >
                          {{cons.constituency_name}}
                        </option> -->
                      <!-- </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label for="Mandal">Mandal:</label>
                      <select
                      class="form-control"
                        formControlName="mandal"
                        class="form-control"
                        id="assembly"
                        name="assembly"
                        required
                      >
                        <option selected value="">Select Mandal</option> -->
                        <!-- <option
                          *ngFor="let modal of modals"
                          value="{{modal.mandal_id}}"
                        >
                          {{modal.mandal_name}}
                        </option> -->
                      <!-- </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div style="max-width:100% ;"  class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label for="name">Village/Ward:</label>
                      <input
                      class="form-control"
                        formControlName="village"
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Village/Ward"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div style="max-width: 100%;" class="form-group col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label for="name">Visitor Notes:</label>
                    <textarea
                   
                      rows="2"
                      cols="50"
                      formControlName="remarks"
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      maxlength="500"
                    ></textarea>
                  </div>
                </div>
              </div>
         
            </div>
  
            <div
              class="col-xs-10 col-sm-4 col-md-4 col-lg-4"
            
            >
              <button type="submit"  class="btn btn-success" >Submit</button>
            </div>
          </form>
         
        </div>
      </div>
    </div>
  </div> --> 