<!-- <app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasIssueActions]="true" ></app-tabularreport> 	 -->
<app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" ></app-tabularreport> 	