
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal" style="float:right">
    Add volunteer
 </button> -->
<app-tabularreport [reportId]="reportId" [reportName]="reportName" [hasFilters]="true" [hasVolunteerActions]="true"></app-tabularreport>