<div>
  <query-builder
[(ngModel)]='selectedRules'
  [formControl]="queryCtrl"
  [config]="config"
  [allowRuleset]="allowRuleset"
  [allowCollapse]="true"
  [persistValueOnFieldChange]="persistValueOnFieldChange"
>

<ng-container
*queryInput="let rule; type: 'date'; let field = field"
>
<div style="display: inline-block;" *ngIf="rule.operator === 'between';  else defaultInput ">
<input class="datepicker"  type="date" [(ngModel)]="rule.value[0]" />

<input class="datepicker" type="date" [(ngModel)]="rule.value[1]" />
</div>
<!-- <div style="display: inline-block;" *ngIf="filtets.id === 'constituency_name';  else defaultInput ">
  <input class="datepicker"  type="date" [(ngModel)]="rule.value[0]" />
  
  <input class="datepicker" type="date" [(ngModel)]="rule.value[1]" />
  </div> -->
<ng-template #defaultInput>
<span>
  <input class="datepicker" type="date" [(ngModel)]="rule.value[0]" />     
</span>
  >
</ng-template>
</ng-container>
</query-builder>
 <!--{{selectedRules |json}} -->
<!-- {{allowRuleset | json}} -->
    <div class="d-flex flex-row-reverse ">
    
     
      <div class="btn-group" style="float:right;margin-right: 40px;">
       
        <button  style="margin-left: 60px;" type="button" class="btn btn-warning" id="btn-reset" (click)="isValidatereset()">Reset</button>
        <button class="btn btn-success" id="btn-set" (click)="isSetdefaultrules()">Set Default Rules</button>
        <button class="btn btn-info" id="btn-export" (click)="isValidateexport()">Export</button>
        <!-- <form (keydown)="keyDownFunction($event)"> -->
        <button class="btn btn-primary"  id="btn-get" (click)="isValidatefilter()">Filter</button>
        <!-- <input type="submit" value="Submit"  class="btn btn-primary" id="btn-get" (window:keypress.enter)="isValidatefilter()"> -->
      
      <!-- </form> -->
        <!-- <input type="submit" value="Submit" class="btn btn-primary" id="btn-get" (click)="isValidatefilter()"> -->
      </div>
  
      </div>
    </div>
    <!-- <br> -->