
.html {
  font: 14px sans-serif;
  margin: 30px;
}

.mat-icon-button {
  outline: none;
}

.mat-arrow-icon {
  outline: none;
  line-height: 32px;
}

.mat-form-field {
  padding-left: 5px;
  padding-right: 5px;
}

.text-input {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.text-area {
  width: 300px;
  height: 100px;
}

.output {
  width: 100%;
  height: 300px;
}
.datepicker{
  
  display: inline-block;
  padding: 5px 8px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: auto;

}