<div>
  <query-builder
[(ngModel)]='selectedRules'
  [formControl]="queryCtrl"
  [config]="config"
  [allowRuleset]="allowRuleset"
  [allowCollapse]="true"
  [persistValueOnFieldChange]="persistValueOnFieldChange"
>

<ng-container
*queryInput="let rule; type: 'date'; let field = field"
>
<div style="display: inline-block;" *ngIf="rule.operator === 'between';  else defaultInput ">
<input class="datepicker"  type="date" [(ngModel)]="rule.value[0]" />

<input class="datepicker" type="date" [(ngModel)]="rule.value[1]" />
</div>
<ng-template #defaultInput>
<span>
  <input class="datepicker" type="date" [(ngModel)]="rule.value[0]" />     
</span>
  >
</ng-template>

</ng-container>
<ng-container
*queryInput="let rule; type: 'from_time'; let field = field"
>
 
    <input class="timepicker" type="time" [(ngModel)]="rule.value[0]" />     
 
</ng-container>
<ng-container
*queryInput="let rule; type: 'to_time'; let field = field"
>
 
    <input class="timepicker" type="time" [(ngModel)]="rule.value[0]" />     
 
</ng-container>
</query-builder>
 <!--{{selectedRules |json}} -->
<!-- {{allowRuleset | json}} -->
    <div class="d-flex flex-row-reverse ">
    
     
      <div class="btn-group" style="float:right;margin-right: 40px;">
        <!-- <div >
        <button
        style="background-color: green; color: black;margin-right: 10px;"
        (click)="Volunteersactivation()"
        type="button"
        class="btn"
      >
        <i class="fas fa-filter">Activate</i>
      </button>
      <button
        style="background-color: #c52e2e; color:black;margin-right: 16px;"
        (click)="Volunteerssupend()"
        type="button"
        class="btn"
      >
        <i class="fas fa-filter">Suspend</i>
      </button>
    </div> -->
        <!-- <button *ngIf="(isRole !== 'VS')"  class="btn btn-danger" id="btn-set"(click)="volunteerdefaultrules()" >Filter Volunteers</button> -->
        <button  class="btn btn-success" id="btn-set" (click)="isSetdefaultrules()">Set Default Rules</button>
        <button   type="button" class="btn btn-warning" id="btn-reset" (click)="isValidatereset()">Reset</button>
        <button *ngIf="(isRole !== 'UE' && isRole !== 'ME')"  class="btn btn-info" id="btn-export" (click)="isValidateexport()">Export</button>
        <!-- <form (keydown)="keyDownFunction($event)"> -->
        <button class="btn btn-primary"  id="btn-get" (click)="isValidatefilter()">Filter</button>
        <!-- <input type="submit" value="Submit"  class="btn btn-primary" id="btn-get" (window:keypress.enter)="isValidatefilter()"> -->
      
      <!-- </form> -->
        <!-- <input type="submit" value="Submit" class="btn btn-primary" id="btn-get" (click)="isValidatefilter()"> -->
      </div>
  
      </div>
    </div>
    <!-- <br> -->

    <!-- <h1  style = "position:fixed;left:741px;top:270px;color:#29a6a9e3;" *ngIf="filteredBusinessList?.length == 0">no data found</h1> -->