<div class="row ">
  <div class="col-md-12">
  <button (click)="exportData()" type="button" class="btn btn-info ">Export</button>
</div>
</div>
<div class="row">

    <div class="col-md-6">
       <app-tabularreport [reportId]="volunteerReportId" [reportName]="reportName1" ></app-tabularreport>
   
     </div>
     <div class="col-md-6">
       <app-tabularreport [reportId]="memberReportId" [reportName]="reportName2" ></app-tabularreport>
   
     
     </div> 
   
     </div>
   <div class="row">
   
     <div class="col-md-12">
       <app-tabularreport [reportId]="renewalReportId" [reportName]="reportName3" ></app-tabularreport>
   
       
       </div>
   </div>