<header class="header">
  <!-- <nav class="navbar navbar-expand-lg p-0 pb-0">
    <a style="cursor: pointer;" class="navbar-brand p-0" routerLink="/home">
      <img class="logo_main" src="assets/images/logo.png" alt="Business">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex align-items-center justify-content-center">
        <span class="c-hamburger c-hamburger--htx"><span>Toggle menu</span></span>
      </span>
    </button>
  </nav> -->
 
  <nav class="navbar" >
    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <div class="navbar-header"><a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a>
        </div>
        <!-- <div>జనసేన</div> -->
        <!-- <div class="d-none d-sm-inline-block"> -->

          <img 
            style="max-width:5%"
            src="/assets/images/logo.png"
            class="img-fluid"
          />
      
          <h1 style="
          text-shadow: 0 0 3px #2c2f2a, 0 0 5px #000000;"><b>
          జనసేన
          </b></h1>
  
        <!-- </div> -->
       
        <!-- <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
          <li class="nav-item dropdown">
            <a id="languages" rel="nofollow" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              class="nav-link language dropdown-toggle"><img src="/assets/images/favicon.png" alt="En  glish"
                class="rounded-circle mr-1"><span class="d-none d-sm-inline-block">admin@janasena.com</span>
              </a>
                <div class="dropdown">
                 
                  <div style="cursor: pointer;" class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" (click)="logOut()">Logout</a>
                    <a class="dropdown-item" routerLink="/profile/1">My Profile</a>
                  </div>
                </div> 
              
               
                <ul aria-labelledby="languages" class="dropdown-menu">
              <li><a rel="nofollow" routerLink="/login" routerLinkActive="router-link-active" (click)="Logout()"
                  class="dropdown-item"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
            </ul> 
          </li>
        </ul> -->

        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            <!-- <a id="languages" rel="nofollow" role="button" data-bs-toggle="dropdown" aria-expanded="false"
            class="nav-link language dropdown-toggle">
            </a> -->
            <img src="/assets/images/favicon.png" 
              class="rounded-circle mr-1"><span>{{userName}}</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="logOut()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>


 