<!-- <mat-form-field class="example-full-width">
    <mat-label>Search Name</mat-label>
    <input matInput placeholder="search name"
    (input)="filterChartByProperty($event, 'name')">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Tags</mat-label>
    <input matInput placeholder="search tags"
    (input)="filterChartByTags($event)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Assembly</mat-label>
    <input matInput placeholder="search Assembly"
    (input)="filterChartByProperty($event, 'assembly')">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Designation</mat-label>
    <input matInput placeholder="search Designation"
    (input)="filterChartByProperty($event, 'designation')">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Search District</mat-label>
    <input matInput placeholder="search District"
    (input)="filterChartByProperty($event, 'district')">
  </mat-form-field>
<button mat-button  (click)="expandAll()">expandAll</button>
<button mat-button (click)="collapseAll()">collapseAll</button>
<div #chartContainer id="chartContainer"></div> -->

<!-- <mat-form-field class="example-full-width">
    <mat-label>Search Name</mat-label>
    <input matInput placeholder="search name"
    (input)="filterChartByProperty($event, 'name')">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Tags</mat-label>
    <input matInput placeholder="search tags"
    (input)="filterChartByTags($event)">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Assembly</mat-label>
    <input matInput placeholder="search Assembly"
    (input)="filterChartByProperty($event, 'assembly')">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Search Designation</mat-label>
    <input matInput placeholder="search Designation"
    (input)="filterChartByProperty($event, 'designation')">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Search District</mat-label>
    <input matInput placeholder="search District"
    (input)="filterChartByProperty($event, 'district')">
  </mat-form-field>
<button mat-button  (click)="expandAll()">expandAll</button>
<button mat-button (click)="collapseAll()">collapseAll</button>
<div #chartContainer id="chartContainer"></div> -->

<div fxLayout="row">
  <div fxLayoutAlign="space-between">
    <mat-form-field class="input-spacer">
      <mat-label>Search Name</mat-label>
      <input
        matInput
        placeholder="search name"
        [(ngModel)]="name"
        (ngModelChange)="filterChartByProperty()"
      />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('name')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-spacer">
      <mat-label>Search Tag(s)</mat-label>
      <input
        matInput
        [(ngModel)]="tags"
        placeholder="search tags"
        (ngModelChange)="filterChartByProperty()"
      />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('tags')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-spacer">
      <mat-label>Search Assembly</mat-label>
      <input
        matInput
        [(ngModel)]="assembly"
        placeholder="search Assembly"
        (ngModelChange)="filterChartByProperty()"
      />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('assembly')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-spacer">
      <mat-label>Search Designation</mat-label>
      <input
        matInput
        [(ngModel)]="designation"
        placeholder="search Designation"
        (ngModelChange)="filterChartByProperty()"
      />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('designation')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="input-spacer">
      <mat-label>Search District</mat-label>
      <input
        matInput
        [(ngModel)]="district"
        placeholder="search District"
        (ngModelChange)="filterChartByProperty()"
      />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('district')">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </div>
</div>
<button mat-button (click)="expandAll()">expandAll</button>
<button mat-button (click)="collapseAll()">collapseAll</button>
<div #chartContainer id="chartContainer"></div>
<dialog #myDialog>
  </dialog>
