<h1 mat-dialog-title>Details</h1>
<div mat-dialog-content>
   <div> Name: <mat-label>{{data.name}}</mat-label></div>
   <div> Designation: <mat-label>{{data.designation}}</mat-label></div>
   <div>
    Assembly: <mat-label>{{data.assembly}}</mat-label></div>
    <div>
    District: <mat-label>{{data.district}}</mat-label></div>
    <div>
    Mobile: <mat-label>{{data.mobile}}</mat-label></div>
    <div>
    Tags: <mat-label>{{data.tags && data.tags.join(", ")}}</mat-label></div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Ok</button>
</div>
