<div class="page login-page">
  <div class="container">
    <div class="form-outer text d-flex align-items-center">
      <div class="form-inner">
        <div class="text-center">
          <img src="/assets/images/logo.png" class="img-fluid">
        </div>
        <form [formGroup]="newpassform" class="text-left form-validate" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="login-username" class="">New Password</label>
            <input type="text" name="loginUsername" formControlName="newpassuser" required class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.newpassuser.errors }">
            <div *ngIf="submitted && f.newpassuser.errors" class="invalid-feedback">
              <div *ngIf="f.newpassuser.errors.required">Password is required</div>
              <div *ngIf="f.newpassuser.errors.minlength">
                Password must be at least 6 characters
              </div>
              <div *ngIf="f.newpassuser.errors.maxlength">
                Password must not exceed 16 characters
              </div>
            </div>
            <!-- <span class="errorMsg" *ngIf="newError">Please Enter password</span> -->
          </div>
          <div class="form-group">
            <label for="login-password" class="">Confirm Password</label>
            <input type="password" name="confirmPassword" formControlName="confirmPassword" required class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
             <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.matching">
                Confirm Password does not match
              </div>
            </div>
            <!-- <span class=" errorMsg" *ngIf="newcError">Please Enter conform password</span> -->
          </div>
          <div class="form-group text-center">
            <!-- <a id="login" [routerLink]="['/category']" routerLinkActive="router-link-active" class="btn btn-primary">Submit</a> -->
            <button type="submit" class="btn btn-orange" id="login" (click)="isValidnewpass()">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
