<div   class="container">
    <h4 style="text-align: center;">Map UPI ID'S</h4>
<div class="row" id="sub">
   <div class="col-md-4"></div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
    
      
        <input type="file" name="profile" (change)="onFileSelect($event)" />
     
  
        <button type="submit" class="btn btn-success" >Upload</button>
   
    </form>
</div>
</div>