<p>btn-cell-renderer works!</p>
<div *ngIf="params?.data.status=='Active'" class="mt-5 submit-btn text-end">
 <h2 style="color:green">Accepted</h2>
</div>
     <div   *ngIf="params?.data.status=='Suspended'" class="mt-5 submit-btn text-end">
     <h5 style="color:rgb(248, 171, 27)" >Rejected</h5>
     </div>