<div style="display: block;background-color: #ffffff;width:400px; height:400px  ;">
    <canvas baseChart width="400" height="400" [data]="polarAreaChartData" [legend]="polarAreaLegend"
        [type]="polarAreaChartType">
    </canvas>
</div>