

<div  *ngIf="(isRole!== 'PA'&& isRole!== 'GS'&& isRole!=='VS'&& isRole!=='UE'&& isRole!=='ME'&& isRole!=='IS'&& isRole!=='CS')" class="container">
  <div class="container">
    <div class="card-deck " >
      <div class="card-counter card primary"style="font-size: 17px;">
        <div class="card-body text-center">
          <h5 class="header">Over All Count</h5>
        <hr>
          <p class="details">Payment Pending<b> {{overAllRecords?.payment_pending}}</b></p>
          <p class="details">Verification Pending <b> {{overAllRecords?.payment_verification_pending}}</b></p>
          <p class="details">Verification Complete<b> {{overAllRecords?.verfication_completed}}</b></p>
          <p class="details">Total =<b> {{overAllRecords?.total}}</b></p>
        </div>
      </div>
      <div class="card-counter card danger" style="font-size: 17px;">
        <div class="card-body text-center">
          <h5 class="header">Phase-3 (New)</h5>
          <hr>
          <p class="details" >Verification Pending  <b> {{phaseTwoRecords?.payment_verification_pending}}</b></p>
            <p class="details">Verification Complete  <b>{{phaseTwoRecords?.verfication_completed}}</b></p>
        <!-- <p class="details">Total=<b>{{phaseTwoRecords?.total}}</b></p> -->
            <p class="details">Phase-3 Total = <b>{{phasethreetotal}}</b></p>
           <p class="details">Payment Pending<b> {{phaseTwoRecords?.payment_pending}}</b></p>
      </div>
    </div>
    <div class="card-counter card success" style="font-size: 17px;">
      <div class="card-body text-center">
        <h5 class="header" >Renewal Count</h5>
        <hr>
       <p class="details">Verification Pending <b>{{renewalRecords?.payment_verification_pending}}</b></p>
        <p class="details">Verification Complete <b>{{renewalRecords?.verfication_completed}}</b></p>
       <p class="details">Renewal Total =<b> {{renewalRecords?.total}}</b></p>
          </div>
      </div>
     <div class="card-counter card bg-success " style="font-size: 17px;">
        <div class="card-body text-center">
         <h5 class="header">Phase-3 (New+Renewal)</h5>
         <hr>
          <p class="details">Verification Pending<b> {{grandpaymentvarificationpending}}
              </b></p>
              <p class="details">Verification Complete<b> {{grandvarificationcompleet}}</b></p>
       <b> <p class="details"> Grand Total = <b>{{grandTotalRecords}}</b></p></b>  
        </div>
      </div> 
      <div class="card-counter card " style="background-color: #8cbe90;font-size: 22px;" >
        <div class="card-body text-center">
         <h5 class="header">Today's Count (New+Renewal)</h5>
        <hr>
         <p class="details white">New = <b> {{ todaycount.new}}
              </b></p>
              <p class="details white">Renewal = <b>   {{todaycount.renewal}}</b></p>
              <p class="details white">Today Total = <b>   {{todayTotal}}</b></p>
        </div>
      </div> 

      <!-- <div class="card-counter card " style="background-color: #8cbe90;" >
        <div class="card-body text-center">
         <h5 class="header">Donations Count</h5>
        <hr>
      <h6 class="header">Today</h6>
         <p class="details white">today donation = <b> {{ todayDonation}}</b></p>
         <p class="details white">nri today donation = <b> {{ NriTodayDonation}}</b></p>
         <hr>
         <h6 class="header">Total</h6>
         <p class="details white">total donation = <b> {{ totalDonation}}</b></p>
         <p class="details white">nri total donation = <b> {{ NriTotalDonation}}</b></p>
        </div>
      </div> -->
      <!-- <div class="card-counter card " style="background-color: #8cbe90;">
      <div class="card-body text-center"> 
        <h1>Renewal Count</h1>
    </div>
  </div> -->
</div>
</div>
    <!-- <div class="row">
    <div class="col-md-3 ">
      <div class="card-counter primary">
<h1>Over All Count</h1>
        <div class="row">
            <div class="row-md-8">
              <p class="details">Payment Pending<b> {{overAllRecords?.payment_pending}}</b>
              </p>
            </div>
            <div class="row-md-8">
              <p class="details">Verification Pending <b> {{overAllRecords?.payment_verification_pending}}</b></p>
            </div>
            <div class="row-md-8">
                <p class="details">Verification Complete<b> {{overAllRecords?.verfication_completed}}</b></p>
              </div>
              <div class="row-md-8">
                <p class="details">Total<b> {{overAllRecords?.total}}</b></p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-counter danger">
<h1>Phase-3 (New)</h1>
        <div class="row ">
            <div class="row-md-8">
              <p class="details" >Verification Pending=<b> {{phaseTwoRecords?.payment_verification_pending}}</b></p>
            </div>
            <div class="row-md-8">
                <p class="details">Verification Complete=<b>{{phaseTwoRecords?.verfication_completed}}</b></p>
              </div>
              <div class="row-md-8">
                <p class="details">Payment Pending=<b> {{phaseTwoRecords?.payment_pending}}</b></p>
              </div>
              <div class="row-md-8">
                <p class="details">Total=<b>{{phaseTwoRecords?.total}}</b></p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-counter success">
     <h1>Renewal Count</h1>
        <div  class="row ">
            <div class="row-md-8">
              <p class="details">Verification Pending=<b>{{renewalRecords?.payment_verification_pending}}</b></p>
            </div>
            <div class="row-md-8">
                <p class="details">Verification Complete=<b>{{renewalRecords?.verfication_completed}}</b></p>
              </div>
              <div class="row-md-8">
                <p class="details">Total = <b> {{renewalRecords?.total}}</b></p>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="card-counter" style="background-color: #8cbe90;">
     <h1 style="color:white;font-size: 19px;">Phase-3(New+Renewal)</h1>
        <div style="color:white;" class="row ">
            <div class="row-md-8">
              <p class="details">Renewal+phase-3 Verification Pending=<b> {{grandpaymentvarificationpending}}
              </b></p>
            </div>
            <div class="row-md-8">
                <p class="details">Renewal+phase-3 Verification Complete=<b> {{grandvarificationcompleet}}</b></p>
              </div>
              <div  class="row-md-8">
             <b> <p class="details"> Grand Total =<b>{{grandTotalRecords}}</b></p></b>  
              </div>
             </div>
      </div>
    </div>
    
  </div> -->
</div>
<app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasActions]="true" ></app-tabularreport>
 <!-- <app-line></app-line> --> 
<!-- <app-doughnut-chart    ></app-doughnut-chart> -->