<app-tabularreport [reportId]="reportId" [reportName]="reportName"  [hasFilters]="true" [hasPetitionActions]="true" ></app-tabularreport> 	
<!-- <div>
    <table style="font-family:Arial,Helvetica,sans-serif;border:none">
      <tr>
        <td width="100" align="left"></td>
        <td align="left"> </td>
        <td align="left" valign="top"> </td>
      </tr>
      <tr>
        <td width="100" align="left"><img src="https://ci3.googleusercontent.com/proxy/wc6pQ98n-CNTJt00bNZtComhVoukA2wW4t9An93n3BSP9vppzWvuEHRvrxvNuSAlyCWCv5QewlS8szLejuYFKjiTVflC_qtyOoh0i3Q=s0-d-e1-ft#https://www.janasenaparty.org/static/img/jenasena_logo.png" width="85" alt=" "></td>
        <td colspan="2" align="center"><p style="padding:0px;margin:0;font-size:40px;color:#d81615"><strong>JANASENA PARTY</strong></p></td>
       
       
      </tr>
      <tr> <td colspan="3" align="left"> <p style="font-size:14px">Plot No.12, Road No.72, Prashasan Nagar, Jubilee Hills, Hyderabad, Telangana 500033. Phone: 040-23545990</p></td></tr>	
      <tr>
        <td width="100" align="left"></td>
        <td colspan="2" align="left"></td>
      </tr>
      <tr>
        <td colspan="3" align="center"><hr></td>
      </tr>
      <tr>
        <td colspan="3" align="center" style="font-size:32px">Acknowledgement Receipt</td>
      </tr>
      <tr>
        <td colspan="2" align="left" style="padding-left:15px;font-size:16px">
          <strong> Receipt No. :</strong>
        {{pms.seq_id}}</td>
        <td align="right" style="padding-right:15px;font-size:16px"><strong>Date :</strong> {{pms.date}}</td>
      </tr>
      <tr>
        <td colspan="3" align="left"> </td>
      </tr>
      <tr>
        <td colspan="3" align="left"><br>
        <table style="font-size:12px;padding:10px;width:100%">
         
          <tr>
            <td width="40%"><strong>Applicant Name</strong></td>
            <td>{{<a href="https://www.google.com/url?q=http://pms.name&amp;source=gmail-html&amp;ust=1656581813185000&amp;usg=AOvVaw0xcjA7vLRagFJ9JG9A-uHJ" target="_blank" rel="noreferrer">pms.name</a>}}</td>
          </tr>
          <tr>
            <td width="40%"><strong>Phone</strong></td>
            <td>{{pms.mobile}}</td>
            
            </tr>
          <tr>
             <td width="30%"><strong>Issue </strong></td>
            <td>{{pms.title}}</td>           
            </tr>
          <tr>
           <td width="40%"><strong>Department</strong></td>
           <td>{{pms.department}}</td>
           
          </tr>
          <tr>
            <td width="40%"><strong>Category:</strong></td>
            <td> {{pms.category}} </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td colspan="3" align="left"> </td>
      </tr>
      <tr>
        <td colspan="3" align="left" style="font-size:11px;font-style:italic;padding-left:25px;line-height:20px">
          1. This is a computer generated receipt and does not require a signature.<br>
           </td>
      </tr>
     
    </table>
    </div> -->
