nav {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 4px;
  }
  
  a {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    width: 20px;
    line-height: 20px;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
  }
  
  a.current,
  a:not(.more):hover {
    background-color: #007acc;
    color: #fff;
    font-weight: 700;
  }
  
  a.more:hover,
  a:hover,
  a.current {
    cursor: pointer;
    text-decoration: none;

  }
  
  button {
    background-color: #e9ecef;
    border: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 12px;
    border-radius: 2px;
    color: #007acc;
    padding: 4px;
  }
  
  button[disabled] {
    cursor: default;
    color: #212529;
  }
  
  button:not([disabled]):hover {
    background-color: #007acc;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
  