<!-- <app-d3-org-chart [data]="this.searchByName$ | async"></app-d3-org-chart> -->
<!-- <h1 style="color: red; text-align: center">Janasena Organization Data</h1>
<p>Click on a user to display the details:</p>
<app-breadcrumb></app-breadcrumb>
<div>
  <mat-form-field >
    <mat-select [(ngModel)]="currentDistrict" (selectionChange)="routeTo(currentDistrict)">
      <mat-option *ngFor="let r of districts" [value]="r.value">{{r.display}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<app-d3-org-chart [data]="data2"></app-d3-org-chart> -->

<h1 style="color: red; text-align: center">State Committee</h1>
<!-- <p>Click on a user to display the details:</p>
<ul>
  <li *ngFor="let breadcrumb of (breadcrumbs$ | async)">
    <a [href]="breadcrumb.url">{{ decodeString(breadcrumb.label) }}</a>
  </li>
</ul> -->


<!-- <div>
	<mat-form-field >
    <mat-select [(ngModel)]="currentDistrict" (selectionChange)="onDistrictChange(currentDistrict)">
    <mat-option *ngFor="let r of districts" [value]="r.value">{{r.display}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field >
	<mat-select [(ngModel)]="currentSubDistrict" (selectionChange)="onSubDistrictChange(currentSubDistrict)" >
    <mat-option *ngFor="let r of subDistricts" [value]="r.value">{{r.display}}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field >
  <mat-select [(ngModel)]="currentVillage" (selectionChange)="onVillageChange(currentVillage)"  >
    <mat-option *ngFor="let r of villages" [value]="r.value">{{r.display}}</mat-option>
  </mat-select>
</mat-form-field>
  <button type="button" mat-button (click)="routeTo()">Submit</button>
</div> -->

<!-- <div>
	<mat-select>
    <mat-option *ngFor="let r of committees" [value]="r">{{r}}</mat-option>
  </mat-select>
</div> -->

<app-d3-org-chart [data]="data5"></app-d3-org-chart>
<!-- <app-d3-org-chart [data]="data3"></app-d3-org-chart> -->
