*{
    border: none;
    padding: 0;
    margin: 0;
}


footer.main-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #222;
    padding: 10px 0;
}

p{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    color: #fff;
    padding: 2px 2px 2px 20px;
}



@media (max-width: 575px) {
    footer.main-footer div[class*="col-"] {
      text-align: center !important;
    }
  }
  
  @media (min-width: 768px) {
    footer.main-footer p {
      font-size: 0.9em;
    }
  }