<footer class="main-footer">
  <div class="container-fluid">
    <div  class="row">
      <div class="col-sm-6 col-md-6">
        <p align="right" >Janasena Party&copy; 2022</p>
      </div>
    </div>
  </div>
</footer>