<!-- <canvas baseChart [type]="chartType" [data]="data" [options]="options">
</canvas> -->

<div style="width: 25%;" class="form-group">
    <label for="chart_type">Chart Type :</label>
    <select formControlName="chart_type" class="form-control" (change)="selectChartType($event)">
        <option value="0">Select ChartType</option>
        <option *ngFor="let chartval of chartTypes" value={{chartval}}>{{chartval}}</option>
    </select>

</div>


<router-outlet></router-outlet>