/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.login-page,
  .register-page {
    width: 100%;
    background: #f5f5f5;
    min-height: auto;
    padding-bottom: 0;
  }

  .login-page .form-outer,
  .register-page .form-outer {
    min-height: 100vh;
    max-width: 510px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
  }

  .login-page .copyrights,
  .register-page .copyrights {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .login-page .copyrights p,
  .register-page .copyrights p {
    font-size: 0.6em;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .login-page .form-inner,
  .register-page .form-inner {
    padding: 40px 30px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
    margin-bottom: 20px;
    width: 100%;
  }

  .login-page .logo,
  .register-page .logo {
    font-size: 2em;
    font-weight: 500;
  }

  .login-page .logo span,
  .register-page .logo span {
    color: #ccc;
  }

  .login-page p,
  .register-page p {
    font-size: 0.8em;
    font-weight: 300;
    color: #aaa;
    margin-bottom: 0;
  }

  .login-page form,
  .register-page form {
    margin: 1rem auto 1rem;
    max-width: 350px;
  }

  .login-page a.forgot-pass,
  .login-page a.signup,
  .register-page a.forgot-pass,
  .register-page a.signup {
    font-size: 0.65em;
    color: #000 !important;
    cursor: pointer;
  }

  .login-page a.forgot-pass:hover, .login-page a.forgot-pass:focus,
  .login-page a.signup:hover,
  .login-page a.signup:focus,
  .register-page a.forgot-pass:hover,
  .register-page a.forgot-pass:focus,
  .register-page a.signup:hover,
  .register-page a.signup:focus {
    color: #000 !important;
    text-decoration: none;
  }

  .login-page a.forgot-pass,
  .register-page a.forgot-pass {
    display: block;
    letter-spacing: 1px;
  }

  .login-page h1{
    font-size: 30px;
  }
  .login-page a.create-account,
  .register-page a.create-account {
    border-radius: 50px;
    font-size: 0.75em;
    margin-top: 10px;
    color: #999;
    text-transform: uppercase;
  }

  .login-page .terms-conditions,
  .register-page .terms-conditions {
    margin-top: 20px;
  }

  .login-page small,
  .register-page small {
    font-size: 0.65em;
    color: #aaa;
    line-height: 0.9em;
  }

  /* LOGIN MEDIAQUERIES -------------------------- */
  @media (min-width: 768px) {
    .login-page p,
    .register-page p {
      font-size: 0.9em;
    }
    .login-page form label.label-custom,
    .register-page form label.label-custom {
      font-size: 0.9em;
    }
    .login-page form small,
    .register-page form small {
      font-size: 0.8em;
    }
    .login-page .terms-conditions label,
    .register-page .terms-conditions label {
      font-size: 0.9em;
    }
    .login-page a.forgot-pass,
    .login-page a.signup,
    .register-page a.forgot-pass,
    .register-page a.signup {
      font-size: 0.8em;
    }
    .login-page small,
    .register-page small {
      font-size: 0.8em;
    }
    .login-page .copyrights p,
    .register-page .copyrights p {
      font-size: 0.85em;
      font-weight: 400;
    }
  }


  #login{
  background-color: #122a8e;
  border-color: #122a8e;
  width: 100%;
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 8px 0;
}

img{
  max-width: 100%;
}
/*enable basic browser text selection in grid cells*/
div.ag-root .ag-cell-focus {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

@media print {
  /* body * {
    visibility: hidden;
  } */
  #acknowledgementModalPrint .modal-content * {
    visibility: visible;
    overflow: visible;
  }
  /* .main-page * {
    display: none;
  } */
  #acknowledgementModalPrint.modal {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    min-height: 550px;
    visibility: visible;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
  #acknowledgementModalPrint .modal-dialog {
    visibility: visible !important;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
