<div class="page login-page">
    <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">

                <img src=".assets/images/logo.png" class="img-fluid">
                <form method="get" class="text-left form-validate">
                    <div class="form-group-material">
                        <input id="login-username" type="text" name="loginUsername" required
                            data-msg="Please enter your username" class="input-material">
                        <label for="login-username" class="label-material">Enter registered email ID</label>
                    </div>

                    <div class="form-group text-center"><a id="login" [routerLink]="['/']" routerLinkActive="router-link-active" 
                            class="btn btn-primary">Submit</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>