<div
  tabindex="-1"
>
  <div class="modal-dialogg">
    <div class="modal-content">
      <div class="modal-header">
        <img
          style="max-width: 8%"
          src="/assets/images/logo.png"
          class="img-fluid"
        />
      
        <h1
          class="modal-title"
          id="exampleModalLabel"
          style="color: #e90000; padding-left: 10px"
        >
          Janasena
        </h1>

        <div class="col">
          <h1
            class="modal-title"
            id="exampleModalLabel"
            style="padding-left:30px;"
          >
          insurance Form
          </h1>
         
        </div>
        <button routerLink='/kriya_insurance_dashboard'  type="button"
        class="close"
        #closebutton
        data-dismiss="modal"
        aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <!-- <a routerLink='/kriya_insurance_dashboard' > -->
        <!-- <button
          type="button"
          class="close"
          #closebutton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button> -->
        <!-- </a> -->

        </div>
     

      <!-- //Modal Body -->
      <div class="modal-body">

        <!-- <h1  style="color: crimson;margin-left: 175px;">Insurance Form</h1> -->
        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12" *ngIf="!kifId">
          <div class="row">
            <select [(ngModel)]="selectedType" class="form-control col"  > 
              <option value="mobile" selected>Mobile Number</option>
              <option value="aadhar_number">Aadhar Number</option>
              <option value="jsp_id">JSP ID</option>
            </select> 
            <input type="text" class="form-control  col" [(ngModel)]="selectedValue" placeholder="Enter Value" />
            <button class="btn btn-primary  col" (click)="onChangeGetDetails()">Search</button>
          </div>
      </div>
        <form [formGroup]="insuranceform"
        (ngSubmit)="submitInsurenceForm(insuranceform.value)"
          role="form"
          name="insurance_form"
          method="post"
          enctype="multipart/form-data" novalidate *ngIf="!kifId">
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Name</label>
              <div class="login_field">
                <!-- <input type="hidden" name="memebr_id" /> -->
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Kriya Membership ID</label>
              <div class="login_field">
                <input class="form-control"  type="text" formControlName="id" />
              </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>JSP ID</label>
              <div class="login_field">
                <input class="form-control"  type="text" formControlName="jsp_id" />
              </div>
            </div> -->
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Mobile Number</label>
              <div class="login_field">
               
                <input
                  class="form-control"
                  type="text"
               
                  formControlName="mobile"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Aadhar Number</label>
              <div class="login_field">
                <input class="form-control" type="text"  formControlName="aadhar_number" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Assembly</label>
              <div class="login_field">
            
                <input
                  class="form-control"
                  type="text"
               formControlName="constituency_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>District</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="district_name" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Nominee Name</label>
              <div class="login_field">
                <input
                  class="form-control"
                  type="text"
                  formControlName="nominee_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Volunteer Name</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="added_by" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Name</label>
              <div class="login_field">
                <input
                  class="form-control"
                  type="text"
                  name="member_nominee_name"
                  formControlName="poc_name"
                />
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Number</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="poc_mobile" />
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Relation</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="poc_relation" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Accident</label>
              <div class="login_field">
                <input type="hidden" name="memebr_id" />
                <input
                  class="form-control"
                  type="date"
                  formControlName="accident_date"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Intimation</label>
              <div class="login_field">
                <input class="form-control" type="date" formControlName="intimation_date" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Accident Description</label>
              <div class="login_field">
                <textarea
                  id="w3review"
                  name="w3review"
                  rows="4"
                  cols="68"
                  formControlName="remarks"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Place of Accident</label>
              <div class="login_field">
                <input class="form-control" type="text" name="nominee_aadhar" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Policy Number</label>
              <div class="login_field">
                <input type="hidden" name="memebr_id" />
                <input
                  class="form-control"
                  type="text"
                  name="member_nominee_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Policy period</label>
              <div class="login_field">
                <input class="form-control" type="text" name="nominee_aadhar" />
              </div>
            </div>
          </div>
        </div>

       

        <div
          class="col-md-2 col-lg-2"
          style="margin-top: 24px; margin-left: 65%"
        >
          
        <button type="submit" class="btn btn-info">Submit</button>
        <!-- <button
            onclick="insuranceSubmit();"
            id="previewinsurancesubmit"
            data-target="#exampleModal6"
            type="button"
            class="btn btn-success"
            [disabled]="isSubmitedForm"
          >
            Submit
          </button> -->
        </div>
        </form>
        <form [formGroup]="editinsuranceform"
        (ngSubmit)="updateInsurenceForm(editinsuranceform.value)"
          role="form"
          name="insurance_form"
          method="post"
          enctype="multipart/form-data" novalidate *ngIf="kifId">
        
        

        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Accident</label>
              <div class="login_field">
                <input type="hidden" name="memebr_id" />
                <input
                  class="form-control"
                  type="date"
                  formControlName="accident_date"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Intimation</label>
              <div class="login_field">
                <input class="form-control" type="date" formControlName="intimation_date" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Accident Description</label>
              <div class="login_field">
                <textarea
                  id="w3review"
                  name="w3review"
                  rows="4"
                  cols="68"
                  formControlName="remarks"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Place of Accident</label>
              <div class="login_field">
                <input class="form-control" type="text" name="claim_status" formControlName="claim_status" />
              </div>
            </div>
          </div>
        </div>
        

       

        <div
          class="col-md-2 col-lg-2"
          style="margin-top: 24px; margin-left: 65%"
        >
          
        <button type="submit" class="btn btn-info">Submit</button>
       
        </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- update insurance  -->
<div
style="overflow-y: auto"   
class="modal fade"
id="editInsuranceModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
  <div class="modal-dialogg">
    <div class="modal-content">
      <div class="modal-header">
        <img
          style="max-width: 8%"
          src="/assets/images/logo.png"
          class="img-fluid"
        />
      
        <h1
          class="modal-title"
          id="exampleModalLabel"
          style="color: #e90000; padding-left: 10px"
        >
          Janasena
        </h1>
        <div class="col">
          <h1
            class="modal-title"
            id="exampleModalLabel"
            style="padding-left:30px;"
          >
          Update Insurance Form
          </h1>
         
        </div>
        <button routerLink='/kriya_insurance_dashboard'  type="button"
        class="close"
        #closebutton
        data-dismiss="modal"
        aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <!-- <a routerLink='/kriya_insurance_dashboard' > -->
        <!-- <button
          type="button"
          class="close"
          #closebutton
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button> -->
        <!-- </a> -->

        </div>
     

      <!-- //Modal Body -->
      <div class="modal-body">

        <!-- <h1  style="color: crimson;margin-left: 175px;">Insurance Form</h1> -->
      
        <form [formGroup]="insuranceform"
        (ngSubmit)="submitInsurenceForm(insuranceform.value)"
          role="form"
          name="insurance_form"
          method="post"
          enctype="multipart/form-data" novalidate >
        <!-- <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Name</label>
              <div class="login_field">
            
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Kriya Membership ID</label>
              <div class="login_field">
                <input class="form-control"  type="text" formControlName="kriya_member_id" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Mobile Number</label>
              <div class="login_field">
               
                <input
                  class="form-control"
                  type="text"
               
                  formControlName="mobile"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Aadhar Number</label>
              <div class="login_field">
                <input class="form-control" type="text"  formControlName="aadhar_number" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Assembly</label>
              <div class="login_field">
            
                <input
                  class="form-control"
                  type="text"
               formControlName="constituency_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>District</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="district_name" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Nominee Name</label>
              <div class="login_field">
                <input
                  class="form-control"
                  type="text"
                  formControlName="nominee_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Volunteer Name</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="added_by" />
              </div>
            </div>
          </div>
        </div>

        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Name</label>
              <div class="login_field">
                <input
                  class="form-control"
                  type="text"
                  name="member_nominee_name"
                  formControlName="poc_name"
                />
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Number</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="poc_mobile" />
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <label>Point of contact Relation</label>
              <div class="login_field">
                <input class="form-control" type="text" formControlName="poc_relation" />
              </div>
            </div>
          </div>
        </div> -->

        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Accident</label>
              <div class="login_field">
                <input type="hidden" name="memebr_id" />
                <input
                  class="form-control"
                  type="date"
                  formControlName="accident_date"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Date Of Intimation</label>
              <div class="login_field">
                <input class="form-control" type="date" formControlName="intimation_date" />
              </div>
            </div>
          </div>
        </div>
        <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Remarks</label>
              <div class="login_field">
                <textarea
                  id="w3review"
                  name="w3review"
                  rows="4"
                  cols="68"
                  formControlName="remarks"
                ></textarea>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Claim Status</label>
              <div class="login_field">
                <input class="form-control" type="text" name="nominee_aadhar" />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="form-horizontal" role="form">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Policy Number</label>
              <div class="login_field">
                <input type="hidden" name="memebr_id" />
                <input
                  class="form-control"
                  type="text"
                  name="member_nominee_name"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
              <label>Policy period</label>
              <div class="login_field">
                <input class="form-control" type="text" name="nominee_aadhar" />
              </div>
            </div>
          </div>
        </div> -->

       

        <div
          class="col-md-2 col-lg-2"
          style="margin-top: 24px; margin-left: 65%"
        >
          
        <button type="submit" class="btn btn-info">Submit</button>
        <!-- <button
            onclick="insuranceSubmit();"
            id="previewinsurancesubmit"
            data-target="#exampleModal6"
            type="button"
            class="btn btn-success"
            [disabled]="isSubmitedForm"
          >
            Submit
          </button> -->
        </div>
        </form>
      </div>
    </div>
  </div>
</div>







<!-- dynamic form builder -->
<!-- <div>
  <div class="modal-dialog">
    <div class="modal-content" style="left: -239px;width: 880px;">
      <div class="modal-header">
        <h2
          class="modal-title"
          id="exampleModalLabel"
          style="color: crimson;padding-left:304px;">
          insurance details
        </h2>
 
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <dynamic-form-builder [fields]="getFields()" (onSubmit)="submitInsurenceForm($event)" ></dynamic-form-builder> 


      </div>

    </div> 
  </div>
</div>  -->



            <!-- Modal Body -->
            <!-- <div class="modal-body">
       <h1  style="color: crimson;margin-left: 175px;">Insurance Form</h1>
                <div class="form-horizontal" role="form">
                    <div class="row">
                        

                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>Name</label>
                            <div class="login_field">
                              <input  type="hidden" name="memebr_id">
                              <input  class="form-control" type="text"  name="member_nominee_name">
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            <label>JSP ID</label>
                            <div class="login_field">
                              <input  class="form-control" type="text" name="nominee_aadhar" >
                            </div>
                          </div>
                         
                    </div>
                 </div>
                 <div class="form-horizontal" role="form">
                  <div class="row">
                      

                      <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                          <label>Assembly</label>
                          <div class="login_field">
                            <input  type="hidden" name="memebr_id">
                            <input  class="form-control" type="text"  name="member_nominee_name">
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                          <label>District</label>
                          <div class="login_field">
                            <input  class="form-control" type="text" name="nominee_aadhar" >
                          </div>
                        </div>
                        
                  </div>
               </div>
               <div class="form-horizontal" role="form">
                <div class="row">
                    

                    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <label>Point of contact Name</label>
                        <div class="login_field">
                          <input  class="form-control" type="text"  name="member_nominee_name">
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <label>Point of contact Number</label>
                        <div class="login_field">
                          <input  class="form-control" type="text" name="nominee_aadhar" >
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                        <label>Point of contact Relation</label>
                        <div class="login_field">
                          <input  class="form-control" type="text" name="nominee_aadhar" >
                        </div>
                      </div>
                      
                </div>
             </div>
             <div class="form-horizontal" role="form">
              <div class="row">
                  

                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label>Nominee Name</label>
                      <div class="login_field">
                        <input  type="hidden" name="memebr_id">
                        <input  class="form-control" type="text"  name="member_nominee_name">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                      <label>Volunteer Name</label>
                      <div class="login_field">
                        <input  class="form-control" type="text" name="nominee_aadhar" >
                      </div>
                    </div>
                    
              </div>
           </div>
           <div class="form-horizontal" role="form">
            <div class="row">
                

                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Date Of Axident</label>
                    <div class="login_field">
                      <input  type="hidden" name="memebr_id">
                      <input  class="form-control" type="text"  name="member_nominee_name">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <label>Date Of Intimation</label>
                    <div class="login_field">
                      <input  class="form-control" type="text" name="nominee_aadhar" >
                    </div>
                  </div>
                  
            </div>
            
         </div>
         <div class="form-horizontal" role="form">
          <div class="row">
              

              <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>Legal Support Name</label>
                  <div class="login_field">
                    <input  type="hidden" name="memebr_id">
                    <input  class="form-control" type="text"  name="member_nominee_name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                  <label>Legal Support Number</label>
                  <div class="login_field">
                    <input  class="form-control" type="text" name="nominee_aadhar" >
                  </div>
                </div>
                
          </div>
       </div>
       <div class="form-horizontal" role="form">
        <div class="row">
            

            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample" mdbInput>
                <label class="custom-control-label" for="defaultInline1">stage 1</label>
              </div>
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample" mdbInput>
                  <label class="custom-control-label" for="defaultInline2">stage 2</label>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample" mdbInput>
                  <label class="custom-control-label" for="defaultInline3">stage 3</label>
                </div>
              </div>
              
        </div>
     </div>

       <div class="col-md-2 col-lg-2" style="margin-top: 24px; margin-left: 65%;">
        <button data-dismiss="modal"  type="button" class="btn btn-success" >Update</button>
      </div>
        </div> -->
               

 