.a {
    text-align: left;
  
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      /* border: 5px solid #4e4e48; */
      padding: 10px;
      width: 60%;
      
      }
      /* .modal-content{
        width: 166%;
      padding: 87px 10px 1px 10px;
  
      } */
        
      /* .form-control{
        width: 169%;
      } */
      .btn{
        margin-left: 33px;
      }
      .showimg {
        /* width: 414px!important;
        height: 500px!important; */
        position: relative;
        z-index: 2;
        /* padding: 50px; */
        /* background-color: green; */
        transition: transform .2s; 
        /* Animation  */
         width: 200px;
        height: 200px;
        margin: 0 auto; 
      }
    
      .showimg:hover {
  
        transform: scale(2.8);  /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport)*/
      }
      .photo_zoomimg {
        border: none;
        margin: 0 auto;
    }
    #receipt_url {
      width: 100%;
      max-width: 350px;
      height: 100%;
      max-height: 400px;
  }
  /* .container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  } */
  
  .col-md-4 {
    padding-top: 15px; 
  }
  .col-md-8{
    padding-top: 15px; 
  }
  .errorMsg{
    font-size: 10px;
    color: rgb(228, 31, 5);
    position: relative;
  
  }
  textarea {
    width: inherit;
    overflow: auto;
    resize: vertical;
  }
  
  /* .modal-body{
    /* max-height: calc(100vh - 120px); */
    /* overflow-y: auto; */
  /* } */ 
  label{
    color:#f11541;
  }
  .modal-open .modal {
    overflow-x: hidden;
    padding: 100px 250px 0px 0px;
    overflow-y: auto;
  }
  .modal.show .modal-dialog {
    transform: none;
    padding: 40px -9px;
    padding-top: 66px;
  }