<!-- <span *ngIf="params?.data?.status == 'Active' " style="width :55px" (click)="VolunteerActivate()" type="button"
    class="btn btn-outline-success">Activate</span>
<span *ngIf="params?.data?.status !== 'Active' " style="width :52px" (click)="VolunteerSuspend()" type="button"
    class="btn btn-outline-danger">Deactivate </span> -->
<!-- <span style="width :51px" (click)="SendLink()" type="button" class="btn btn-outline-danger">Send</span> -->

<div>
<button type="button" class="btn btn-primary" *ngIf="(params?.colDef.field == 'Action' && (isRole === 'KM' || isRole === 'AD'))" (click)="SendLink()" >Send</button>
<button type="button" class="btn btn-primary"  *ngIf="(params?.colDef.field == 'Edit' && (isRole === 'KM' || isRole === 'AD'))"(click)="editVData()">Edit</button>

<button style="width: 90px;" type="button" class="btn btn-success" *ngIf="(params?.colDef.field == 'Actions' && params?.data?.status == 'Active' && (isRole === 'KM' || isRole === 'AD'))" (click)="VolunteerActivate()" >Activate</button>
<button style="width: 90px;" type="button" class="btn btn-danger" *ngIf="(params?.colDef.field == 'Actions' && params?.data?.status !== 'Active' && (isRole !== 'AC')) " (click)="VolunteerSuspend()" >Deactivate</button>
</div>


  
 




