<div class="page login-page">
  <div class="container">
    <div class="form-outer text d-flex align-items-center">
      <div class="form-inner">
        <div class="text-center">
          <img src="/assets/images/logo.png" class="img-fluid">
        </div>
        <form [formGroup]="forgotform" class="text-left form-validate" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="login-username" class="label">Enter registered Mobile NO</label>
            <input type="text" name="forgotusername" class="form-control" formControlName="forgotusername"
              [ngClass]="{ 'is-invalid': submitted && f.forgotusername.errors }">
            <div *ngIf="submitted && f.forgotusername.errors" class="invalid-feedback">
              <div *ngIf="f.forgotusername.errors.required">Mobile NO is required</div>
              <div *ngIf="f.forgotusername.errors.pattern">
                Please, Enter 10 digit Mobile Number.
              </div>
            </div>
            <!-- <span class="errorMsg" *ngIf="frgtError">Please Enter Mobile no</span> -->
          </div>
          <div class="form-group text-center">
            <!-- <a id="login" routerLink="/otp" class="btn btn-primary">Submit</a> -->
            <button type="submit" class="btn btn-orange" id="login" (click)="isValidforgot()">Submit</button>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>
