<p>json-form works!</p>

<!-- <div >
  <app-json-form [jsonFormData]="formData"></app-json-form>
 
</div> -->


<!-- <app-json-form [jsonFormData]="formData"></app-json-form> -->

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of jsonFormData?.controls">
      <label>{{ control.label}}</label>
      <input
        *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'search',
            'tel',
            'url'
          ].includes(control.type)
        "
        [type]="control.type"
        [formControlName]="control.name"
        [value]="control.value"
      />
      <textarea
        *ngIf="control.type === 'textarea'"
        [formControlName]="control.name"
        [value]="control.value"
      ></textarea>
      <!-- <checkbox
        *ngIf="control.type === 'checkbox'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></checkbox>
      <toggle
        *ngIf="control.type === 'toggle'"
        [formControlName]="control.name"
        [checked]="control.value"
      ></toggle> -->
      <!-- <range
        *ngIf="control.type === 'range'"
        [min]="control.options.min"
        [max]="control.options.max"
        [formControlName]="control.name"
      >
        <div
          size="small"
          slot="start"
          [name]="control.options.icon"
        ></div>
        <div slot="end" [name]="control.options.icon"></div>
     </range> -->
        </div>
    <button type="submit">Submit</button>
  </form> 